body{
  background-color: #163a56;
  }
  
h1{
  text-align: center;
  color: lightblue;
}


.circle {
  width: 120px; 
  height:120px; 
  padding:40px; 
  border-radius: 50%;
}
#circle0{
  background-color: #d52468;
}
#circle1{
  background-color: #fdf04c;
}
#circle2{
  background-color: #1a9fa7;
}
#circle3{
  background-color: #fd8048;
}
#circle-container{
  display: flex;
  text-align: center;
}

#button-container {
  text-align: center;
}

button{
  margin: 20px 20px 20px 20px;
  height: 50px;
  width: 80px;
}